<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
    {% for req in reqs %}
        <div class="leaverequest">
            <h3>Request: Employee {{ req.employee_id }}</h3>
            <ul class="leaveinfo">
                <li>Date: {{ req.date }}</li>
                <li>Phone number: {{ req.employee_phone }}</li>
                <li>Reason for Request: {{ req.leave_reason }}</li>
            </ul>
        </div>
        <form class="approveform" action="{{ url_for('approve_request', reqid=req.id) }}" method=post>
            <input type="submit" value="Approve"/>
        </form>
        <form class="denyform" action="{{ url_for('deny_request', reqid=req.id) }}" method=post>
            <input type="submit" value="Deny"/>
        </form>
    {% endfor %}
{% endblock %}