<!DOCTYPE html>
{% extends "layout.html" %}
{% block body %}
    <div>
        <h1>Login</h1>
        <form action="{{ url_for('login')}}" method="post">

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Username</span>
              <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Password</span>
              <input type="password" class="form-control" placeholder="Password" name="password" aria-describedby="basic-addon1">
            </div>
            <dd> <input class="btn btn-default" type="submit" value="Login" />
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
        </form>
    </div>

{% endblock %}